# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# .NET
**/bin/
**/obj/

# Node / Angular
**/node_modules/
**/dist/

# Logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db