# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# .NET
**/bin/
**/obj/

# Node / Angular
**/node_modules/
**/dist/

# Logs
*.log

# Environment
.env
.env.*

# Secrets / local config
**/appsettings.Development.json
**/appsettings.*.Local.json

# OS
.DS_Store
Thumbs.db