<section class="page">

  <h1>Notes</h1>

  <div class="search-container">
    <input
      type="text"
      placeholder="Search notes..."
      [value]="searchText()"
      (input)="onSearch($any($event.target).value)" />
  </div>

  <form
    [formGroup]="noteForm"
    (ngSubmit)="saveNote()">

    <div class="form-group">
      <label>Title</label>

      <input
        type="text"
        formControlName="title"
        placeholder="Enter title"
        [class.is-invalid]="noteForm.controls.title.invalid && noteForm.controls.title.touched">

      @if (noteForm.controls.title.invalid && noteForm.controls.title.touched) {
        <small class="field-error">Title is required.</small>
      }
    </div>

    <div class="form-group">
      <label>Content</label>

      <textarea
        rows="5"
        formControlName="content"
        placeholder="Write your note"
        [class.is-invalid]="noteForm.controls.content.invalid && noteForm.controls.content.touched">
      </textarea>

      @if (noteForm.controls.content.invalid && noteForm.controls.content.touched) {
        <small class="field-error">Content is required.</small>
      }
    </div>

    <button
      type="submit"
      [disabled]="noteForm.invalid || isSaving()">
        {{ isSaving() ? 'Saving...' : (editingId() ? 'Update Note' : 'Save Note') }}
    </button>

  </form>

  <hr>

  @if (isLoading()) {
    <app-spinner />
  } @else {

  @for (note of pagedNotes(); track note.id) {

    <div class="note-card">

  <div class="note-header">

    <h3>{{ note.title }}</h3>

    <div class="actions">

      <button
    type="button"
    class="pin-btn"
    (click)="togglePin(note.id)">

    {{ note.isPinned ? '📌' : '📍' }}

</button>
  <button
    type="button"
    class="edit-btn"
    (click)="editNote(note)">
    Edit
  </button>

  <button
    type="button"
    class="delete-btn"
    (click)="deleteNote(note.id)">
    Delete
  </button>

</div>

  </div>

  <p>{{ note.content }}</p>

</div>

  }

  <app-paginator
    [page]="currentPage()"
    [totalPages]="totalPages()"
    (pageChange)="currentPage.set($event)" />

  }

</section>
